.About-background-background{
    background-color: #212121;
}

.About-background{
    position: absolute;
    background-color: black;
    top: 20%;
    height: 60%;
    width: 100%;
}

.About-besedilo{
    position: relative;
    color: white;
    margin-top: 30px;
    height: 85%;
    width: 33%;
}

.About-besedilo-levo{
    float: left;
    left: 10%;
}

.About-besedilo-desno{
    float: right;
    right: 10%;
}

.about-scroll{
    overflow:auto;
    position: absolute;
    height: 100%;
    width: 80%;
    left: 10%;
}

p{
    font-family: Raleway;
    margin: 0px;
    color: white;
}

.about-naslov{
    margin-top: 10px;
    margin-left: 10%;
    font-weight: bold;
    font-size: 25px;
}

.about-bottom-space{
    margin-bottom: 10px;
}

p.podnaslov{
    font-weight: bold;
    margin-top: 10px;
}

p.podnaslov-zaceten-zamik{
    font-weight: bold;
    margin-top: 10px;
}

p.navadno{
    text-indent: 23px;
}

img.about-arrow{
    position: absolute;
    top: 50%;
    width: 4%;
}
img.about-arrow-left{
    left: 1%;
    transform: rotate(180deg);
}

img.about-arrow-right{
    right: 1%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}