.App{
  margin:0;
  padding: 0;
  display:block;
  overflow:hidden;
  position: relative;
  width: inherit;
  height: inherit;
  background-color: darkgrey;
}

.App-header{
  z-index: 11;
  height: 11%;
  width: 100%;
  position: absolute;
  background:transparent;
  top: 0;
  left: 0;
  right: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.App-header div{
  font-size:2vw;
}

.App-header #language{

  display: flex;
  height: 100%;
  margin:0;
  align-items: center;
  justify-content: flex-start;
}


.App-header #home{
  margin-top: auto;
  margin-bottom: auto;
  height: 90%;
}

.App-header #home img{
  height: 90%;
}

.App-header #about{
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: flex-end;
}

.App-header a{
  text-decoration: none;
  color:white;
  padding: 5px;
}

.App-content{
  display:block;
  position: absolute;
  top:0;
  height: inherit;
  width: inherit;
}

/* Gellery Styles */
@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.figure-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wp-caption {
position: relative;
padding: 0;
margin: 0;
grid-column: span 2;
height: 400px;
}
.wp-caption img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.wp-caption-text {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  padding: 0.75em 1em;
  font-weight: 700;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.46);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.authors {
  text-transform: uppercase;
  margin-bottom: auto;
  margin-top: auto;
}

.wp-caption:hover .wp-caption-text {
opacity: 1;
}
