.Header{
    z-index: 11;
    height: 11%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.Header div{
    font-size:2vw;
}

.Header #language{

    display: flex;
    height: 100%;
    margin:0;
    align-items: center;
    justify-content: flex-start;
}


.Header #home{
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
}

.Header #home img{
    height: 90%;
}

.Header #about{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: flex-end;
}

.Header a{
    text-decoration: none;
    color:white;
    padding: 5px;
}








