.App{
    margin:0;
    padding: 0;
    display:block;
    overflow:hidden;
    position: relative;
    width: inherit;
    height: inherit;
    background-color: darkgrey;
}

.App-header{
    z-index: 11;
    height: 11%;
    width: 100%;
    position: absolute;
    background:transparent;
    top: 0;
    left: 0;
    right: 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.App-header div{
    font-size:2vw;
}

.App-header #language{

    display: flex;
    height: 100%;
    margin:0;
    align-items: center;
    justify-content: flex-start;
}


.App-header #home{
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
}

.App-header #home img{
    height: 90%;
}

.App-header #about{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: flex-end;
}

.App-header a{
    text-decoration: none;
    color:white;
    padding: 5px;
}

.App-content{
    display:block;
    position: absolute;
    top:0;
    height: inherit;
    width: inherit;
}








