html, body div {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

body, html {
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.left,
.right {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.right {
  background-color: rgba(255,255,255,1);
}

.right:hover {
    background-color: rgba(255,255,255,0);
    color: black;
}

.left {
  background-color: rgba(0,0,0,1);
}
.left:hover {
  background-color: rgba(0,0,0,0);
  color: white;
}

.hover-button .hover-button--on,
.hover-button:hover .hover-button--off {
  display: none;
}

.hover-button:hover .hover-button--on {
  display: inline;
}

.verticalL {
  font-family: 'Arial';
  font-size: 96px;
  font-size: 96px;
  position: absolute;
  top: 50%;
  right: 0;
  /*-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);*/
}

.verticalR {
  font-family: 'Arial';
  font-size: 96px;
  font-size: 96px;
  position: absolute;
  top: 50%;
  left: 0;
  /*-moz-transform: translateX(-50%) translateY(-50%) rotate(-270deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-270deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-270deg);*/
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body { display:block; }

@media only screen and (orientation:portrait){

  body {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (orientation:landscape) {

  body {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}