.ProjectTitle{
    display:block;
    position: absolute;
    top:0;
    height: inherit;
    width: inherit;
}

.Project-video {
    width: 100%;
    height: 100%;
    position: absolute;
    padding:0;
    margin:0;
    left: 0;
    z-index: 9;
    overflow:hidden;
}

@media(orientation: landscape) {
    .Project-video #videoPlayer {
        margin-top:auto;
        margin-bottom: auto;
        max-width: 100%;
        position: absolute;
    }
}


@media (orientation: portrait){
    .Project-video #videoPlayer {
        max-height: 100%;
        position:absolute;
        bottom:0;
        left:0;
        object-fit: cover;
    }
}

.ProjectTitle #Buttons{
    z-index: 11;
    display: inline-table;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 98%;
    height: 5%;
}

.ProjectTitle #Buttons td a{
    vertical-align: middle;
    color:white;
}

.ProjectPresentation{
    z-index: 20;
    position:absolute;
    width: 30%;
    height: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

@media(orientation: landscape) {
    .ProjectPresentation #title {
        color: white;
        display:flex;
        font-size: 10vw;
        text-align: center;
        vertical-align: middle;

    }

    .ProjectPresentation #author {
        color: white;
        display:flex;
        font-size:8vw;
        text-align: center;
        vertical-align: middle;
    }
}

@media(orientation: portrait){
    .ProjectPresentation #author{
        color:white;
        display:flex;
        font-size: 10vw;
    }
    .ProjectPresentation #title{
        color:white;
        display:flex;
        font-size:8vw;
    }
}







