.ProjectPagination{
    display:block;
    position: absolute;
    top:0;
    height: inherit;
    width: inherit;
    background-color:transparent;

}
.ProjectPagination-buttons{
    z-index: 12;
    display: table;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 5%;
    height: 98%;
}

.ProjectPagination-buttons #prev, #next{
    width: auto;
    height: 100%;
    display: table-row;
}


.ProjectPagination-buttons a input{
    width: 100%;
    height: auto;
    display: flex;
}


.ProjectPagination #title{
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
}


