.ProjectTitle{
    display:block;
    position: absolute;
    top:0;
    height: inherit;
    width: inherit;
}

.Project-video {
    width: 100%;
    height: 100%;
    position: absolute;
    padding:0;
    margin:0;
    left: 0;
    z-index: 9;
    overflow:hidden;
}

@media(orientation: landscape) {
    .Project-video #videoPlayer {
        margin-top:auto;
        margin-bottom: auto;
        max-width: 100%;
        position: absolute;
    }
}


@media (orientation: portrait){
    .Project-video #videoPlayer {
        max-height: 100%;
        position:absolute;
        bottom:0;
        left:0;
        object-fit: cover;
    }
}

.ProjectTitle #Buttons{
    z-index: 12;
    display: inline-table;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 98%;
    height: 5%;
}

.ProjectTitle #Buttons td a{
    vertical-align: middle;
    color:white;
    font-size:2vw;
}

.ProjectTitle-TitleAuthor{
    display:grid;
    background:transparent;
    grid-template-rows: 1fr 1fr;
    height: 50%;
    width: 50%;
    z-index: 10;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


@media(orientation: landscape) {
    .ProjectTitle #title-and-author #title {
        color: white;
        display:flex;
        font-size: 10vw;
        text-align: center;
        vertical-align: middle;

    }

    .ProjectTitle #title-and-author #author {
        color: white;
        display:flex;
        font-size:8vw;
        text-align: center;
        vertical-align: middle;
    }
}

@media(orientation: portrait){
    .ProjectTitle #title-and-author #author{
        color:white;
        display:flex;
        font-size: 10vw;
    }
    .ProjectTitle #title-and-author #title{
        color:white;
        display:flex;
        font-size:8vw;
    }
}







