.ProjectPresentation{
    display:block;
    position: absolute;
    background:black;
    top:0;
    height: inherit;
    width: inherit;
}

.Present-background{
    width: 100%;
    height: 100%;
    position: absolute;
    padding:0;
    margin:0;
    left: 0;
    z-index: 9;
    overflow:hidden;
}

.Present-background #back{
    margin-top:auto;
    margin-bottom: auto;
    max-width: 100%;
    position: absolute;
}

.ProjectPresentation-buttons{
    z-index: 55;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 98%;
    height: 8%;
}

.ProjectPresentation-buttons #Back, #Media{
    height: 75%;
}

.ProjectPresentation-buttons #Back img{
    text-align: left;
    height: 60%;
    margin-top:auto;
    margin-bottom:auto;
    object-fit: contain;
}

.ProjectPresentation-buttons #Media img{
    object-fit: contain;
    height: 100%;
    justify-self: end;
}

p{
	-webkit-margin-after: l;
}

.ProjectPresentation #content{
    display:grid;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-rows: 1fr;
    height: 60%;
    width: 100%;
    z-index: 10;
    position:absolute;
    top:20%;
	bottom:20%;
    left:0;
    right:0;
	padding-top: 0px;
}


@media(orientation: landscape){
    .ProjectPresentation #description{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 3%;
        margin-bottom: 3%;
        height:94%;
        color:white;
        font-size: 1vw;
        text-align: left;
        vertical-align: middle;
        width:70%;
    }
}

@media(orientation: portrait){
	.ProjectPresentation #description{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 3%;
        margin-bottom: 3%;
        height:94%;
        color:white;
        font-size: 1vw;
        text-align: left;
        vertical-align: middle;
        width:70%;
    }
}

.ProjectPresentation-title, .ProjectPresentation-author, .ProjectPresentation-type, .ProjectPresentation-year{
	position: relative;
	margin: 0px;
	padding: 0px;
	color: white;
}

.ProjectPresentation-title{
	margin-top: -2%;
	font-size: 2.2vw;
}

.ProjectPresentation-author{
    padding-left: 0% !important;
	font-size: 2.2vw;
	font-weight: normal;
}

.ProjectPresentation-type{
	font-size: 1.5vw;
	font-weight: normal;
}

.ProjectPresentation-year{
	font-size: 1.5vw;
	font-weight: normal;
	margin-bottom: 3%;
}

.ProjectPresentation-whole-text{
	position: relative;
	-moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count:2;
    -webkit-column-gap:50px;
    column-count: 2;
    column-gap: 50px;
	height: 60%;
	padding: 0px;
	margin: 0px;
}

.ProjectPresentation-text{
	color: white;
}

.ProjectPresentation-media{
    width:auto;
    color:black !important;
}

.ProjectPresentation-Slika{
    margin-left:auto;
    margin-right:auto;
}

